* {
  font-family: FoundersGroteskWeb, sans-serif;
  /* background-color: #f1e4d1; */
}

.your-cart {
  display: flex;
  padding: 20px;
  color: rgb(0, 84, 0);
  font-size: 1.71429rem;
  font-weight: 600;
  line-height: 1.42857;
  margin: 0px;
  text-transform: none;
  font-family: FoundersGroteskWeb, sans-serif;
}

.cart-show {
    display: flex;
    text-align: center;
    padding: 5px;
    color: rgb(0, 84, 0);
    font-weight: 600;
    line-height: 1.42857;
    margin: 20px;
    text-transform: none;
    font-family: FoundersGroteskWeb, sans-serif;
    align-items: center;
    height: 50px;
    width: 100px;
    font-size: 14px;
    cursor: pointer;
}

.checkout {
    display: flex;
    text-align: center;
    padding: 5px;
    color: rgb(0, 0, 0);
    background-color: rgb(0, 249, 0);
    border-radius: 5.5px 5.5px;
    justify-content: center;
    font-weight: 600;
    line-height: 1.42857;
    margin: 5px;
    text-transform: none;
    font-family: FoundersGroteskWeb, sans-serif;
    align-items: center;
    width: 230px;
    height: 90px;
    font-size: 30px;
    cursor: pointer;
}

.check-out {
  display: flex;
  justify-content: center;
}

.my-items {
  display: flex;
justify-content: space-evenly;
}

.image {
  display:flex;
  justify-content: center;
  max-width: 200px;
}

.outlineBox {
    margin: 10px,10px,10px,10px;
    padding: 40px 5px 5px 5px;
    background-color: white;
    box-shadow: 0px 5px 5px 3px grey;
    width: 25%;
    padding-left: 7.5px;
    padding-right: 7.5px;
    box-sizing: border-box;
    font-family: FoundersGroteskWeb, sans-serif;
}

.chocolateImage {
  display: flex;
  justify-content: center;
}

.summary {
    display: flex;
    flex-direction: column;
    padding: 5px 5px 5px 5px;
    background-color: white;
    box-shadow: 0px 5px 30px 3px grey;
    width: 25%;
    padding-left: 7.5px;
    padding-right: 7.5px;
    margin: 60px;
    justify-content: space-evenly;
    height: 400px;
}

.summary-box {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.title-summary {
  display: flex;
  justify-content: center;
}