* {
  font-family: FoundersGroteskWeb, sans-serif;
}

h1 {
  display: flex;
  padding: 20px;
  color: rgb(0, 84, 0);
  font-size: 1.71429rem;
  font-weight: 600;
  line-height: 1.42857;
  margin: 0px;
  text-transform: none;
  font-family: FoundersGroteskWeb, sans-serif;
}

.cart-show {
    display: flex;
    text-align: center;
    padding: 5px;
    color: rgb(0, 84, 0);
    font-weight: 600;
    line-height: 1.42857;
    margin: 20px;
    text-transform: none;
    font-family: FoundersGroteskWeb, sans-serif;
    align-items: center;
    height: 50px;
    width: 100px;
    font-size: 14px;
}

.checkout {
    display: flex;
    text-align: center;
    padding: 5px;
    color: rgb(0, 84, 0);
    background-color: aqua;
    border-radius: 5.5px 5.5px;
    justify-content: center;
    font-weight: 600;
    line-height: 1.42857;
    margin: 45px;
    text-transform: none;
    font-family: FoundersGroteskWeb, sans-serif;
    align-items: center;
    width: 230px;
    height: 90px;
    font-size: 30px;
}

.check-out {
  display: flex;
  justify-content: center;

}

.my-items {
  display: flex;
justify-content: space-evenly;
}

.image {
  display:flex;
  justify-content: center;
  max-width: 200px;
}

.outlineBox {
  margin: 10px,10px,10px,10px;
    padding: 5px 5px 5px 5px;
    background-color: white;
    box-shadow: 0px 5px 5px grey;
    width: 25%;
    padding-left: 7.5px;
    padding-right: 7.5px;
    box-sizing: border-box;
    font-family: FoundersGroteskWeb, sans-serif;
}

.chocolateImage {
  display: flex;
  justify-content: center;
}