.MainContainerReceipt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.contentofheader {
    margin-top: 55px;
    height: 100px;
    width :800px;
    outline: 0.1em solid rgb(0 0 0 / 75%);
    background-color: yellow;
    display: flex;
    justify-content: space-between;
}

.contentofheader h2 {
    /* padding-left: 100px;
    padding-right: 100px; */
}

.reciptId {
    display: flex;
    justify-content: flex-start;
}

.mainBody {
    height: 200px;
    width :800px;
    outline: 0.1em solid rgb(0 0 0 / 75%);

}
.bodyInformation {
    display: flex;
    justify-content:space-between;
}

.orderSumDiv {
display: flex;
justify-content: space-around;
}
.productName {
    padding-right: 60px;
}