.MainContainerReceipt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.contentofheader {
    margin-top: 55px;
    height: 100px;
    width :800px;
    outline: 0.1em solid rgb(0 0 0 / 75%);
    background-color: 	#ADD8E6;
    display: flex;
    justify-content: space-between;
}

.contentofheader h2 {
    /* padding-left: 100px;
    padding-right: 100px; */
}

.reciptId {
    display: flex;
    justify-content: flex-start;

}

.mainBody {
    height: 200px;
    width :800px;
    outline: 0.1em solid rgb(0 0 0 / 75%);
    background-color: 	#ADD8E6;
}
.bodyInformation {
    display: flex;
    justify-content:space-between;
}

.orderSumDiv {
display: flex;
justify-content: space-around;
}
.productName {
    padding-right: 60px;
}

.footerHeader {

    height: 50px;
    width :800px;
    outline: 0.1em solid rgb(0 0 0 / 75%);
    background-color: 	#ADD8E6;
    display: flex;
    justify-content: space-between;
}


.hstTotalValue {
    display: flex;
    justify-content: flex-end;
}

.prodcutsValue {
padding-bottom: 50px;
}

.timeLineImage {
    margin-left:30px;
    display: flex;
    justify-content: center;
    width:750px;
    height: 50px;
}

.orderStatus {
    color: gray;
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.shippedValue{
    padding-right: 230px;
}
.imageSection {
    padding-top: 20px;
    outline: 0.1em solid rgb(0 0 0 / 75%);
    background-color: 	#ADD8E6;
}

.marginSpacing {
    margin-bottom: 150px;
}

