


*{
    padding:0;
    margin:0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing:border-box;
}

.fontName {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
    color:black;
    display: flex;
    justify-content: center;


}
.linkClass {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    color: aqua;

    display: flex;
    justify-content: center;

}
.bigContainer {
    width:100vw;
    height:100vh;
    background-image: url("https://media.istockphoto.com/photos/fresh-fruits-and-vegetables-picture-id589415708?s=612x612");
    position: fixed;
    display: flex;
    justify-content: center ;
    align-items: center;
}
.formContainer {
    width:400px;
    min-height:80vh;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px;
    display: flex;
    align-items: center ;
    flex-direction: column;
}

.allButtons {
    width:80%;
    background-color: royalblue;
    margin:2em;
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 50px;
    box-shadow: 5px;
}

.eachButton {
    padding:1em;
    width:50%;
    outline:none;
    border:none;
    background-color:transparent ;
    border-radius: 50px;
    color: white;
    font-size: 0.8em;
    font-weight: 600;
    cursor: pointer;
}

.moveButtonState {
    position: absolute;
    width:50%;
    height: 90%;
    margin: 2px;
    border: none;
    border-radius: 50px;
    background-color: white;
    font-size: 0.8em;
    font-weight:600 ;
    box-shadow: 5px;
}

.RightButton {
    transform: translate(98%);
    transition: all 0.2s ease-in-out;
}

.inputText {
    width:300px;
    margin:0.8em 0  ;
    background-color: rgb(220,220,220);
    border-radius: 50px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    font-weight: 500;
}

.inputText input {
    width:100%;
    margin:1em 1.5em ;
    background-color: transparent;
    border:none;
    border-radius: 50px;
}

.inputText input:focus{
    outline:none;
}
.sumbitButtonCenter  {
    width:300px;
    margin:0.5em 0.5em ;
    display: flex;
    border: rgb(44, 44, 128);
    justify-content: center;
}

.sumbitButton {
    width:400px ;
    padding: 1em;
    margin: 2em 0;
    border-radius: 50px;
    border:none;
    outline: none;
    background-color: blueviolet;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);;
    cursor: pointer;
    font-size: 0.8em;
    font-weight: 600;
    display: flex;
    justify-content: center;

}


.imageClass {
    width:100px;
    height:100px;
}
.sumbitButton:hover {
    background-color: royalblue;
    color:white;
    transition: all 0.3s ease-in-out;
}

.form {
    display:none;
}

.signupForm {
    display:block;
}

.loginForm {
    display:block;
}

.navContainer {
max-width:1300px;
margin:auto;
padding-left:25px;
padding-right:25px;

}

.header {
   
    background-color: #FBAB7E;
background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);

}
.logoImage {
    width:100px;
    height:100px;
    border-radius: 10px;
    padding-top:5px;
    padding-left: 15px;
}
.navbar {
    display:flex;
    align-items: center;
    padding:20px;
}

.navlistItems {
    flex:1;
    text-align: right;
}

.navlistItems ul {
    display:inline-block;
    list-style-type: none;
}

.navlistItems li {
    display:inline-block;
    margin-right :20px;
}

.navlistItems a {
text-decoration: none;
color:gray;
}
.row p {
    color:gray;
    }

.eachrow {
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: space-around;
}

.eachcloumn {
    flex-basis:50%;
    min-width:300px;
}

.eachcloumn h1{
    font-size:30px;
    line-height: 25px;
    margin: 15px 0;
}

.secoundlogoImage {
    border-radius:30px 30px 30px 30px;
    width:620px;
    height:400px;
    padding-left:150px;
    
}
.firstbutton {
    display:inline-block;
    background :red;
    color:white;
    padding:10px 25px;
    margin:25px 0;
    border-radius:25px;
    transition: background 0.5s ;
}

.header .eachrow {
    margin-top:50px;
}

.cartIcon {

    width:25px;
    height:25px;
}
.firstbutton:hover {
    background: powderblue;
}

.catergories {
    margin: 30px 0;
   background-color: #EDEADE;
}

.othercolumn {
    flex-basis: 22%;
    min-width:250px;
    margin-bottom: 30px;
}

.othercolumn img {
    width:100%;
}

.topheaderName {
    display:flex;
    justify-content: flex-start;
    font-weight: 700;
    color:white;
}
.toptopheaderName {
    background-color: #006A4E;
    border-radius: 2.5px;
    width:40%;
}

.addContent {
    padding-bottom: 25px;
    background-color: #89CFF0;
    outline:0.1em solid #002D62;
    border-radius: 10px;
    padding:20px 20px 20px 20px;
    display :flex;
    justify-content: center;
    align-items: center;
}

.saleImage img{
    width: 10%;
    height: 10%;
}
.outerTopProduCtontainer {
   
    
}

.chocalteImage {
    display:flex;
    justify-content: center;
    max-width: 200px;
}

.ProductInforamtion {
    display:flex;
    justify-content: center;
    font-weight: 700;
    color:#006A4E;
}

.outlineBox {
    margin: 10px,10px,10px,10px ;
    padding: 5px 5px 5px 5px;
    background-color: white;
    box-shadow: 0px 0px 0px 4px darkgray;
    
    width: 25%;
    padding-left: 7.5px;
    padding-right: 7.5px;
}

.saleImage {
    display:flex;
    padding-left: 25px
}

.saleDescription {
    display:flex;
    padding-top: 8px;
    padding-left: 6px;
    color:#CC5500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    font-weight: 600px;
}

.priceInformation {
    padding-left: 25px;
    padding-bottom: 10px;
    display: flex;
    
}
.firstPrice {
font-size:25px;
color:#CC5500;
}

.secoundPrice {
    padding-top: 10px;
    padding-left: 8px;
    color:#006A4E;
    font-weight: 700;
    text-decoration: line-through;
}

.caloriesDescription {
    padding-top: 5px;
    padding-left: 25px;
    color:#006A4E;
    font-weight: 700;
}

.SaleImage {
    padding-top:15px;
    height:500px;
}

.otherPossibleProducts  {
    background-color: #EDEADE; 
    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: space-around;
}
.productsSample {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoName {

}

.mainClassInStores {
    display: flex;
    outline:0.1em solid #E1D9D1;
    padding-top:15px;
    width: 90%;
    border-radius: 5%;
}
.contentOfStore {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.mainClassInStores img {
    border-radius: 50%;
    outline:0.1em solid #E1D9D1;
}

.storePriceText {
    color: gray;
    outline:0.1em solid #E1D9D1;
    /* box-shadow:39px 28px 33px 17px rgba(0,0,0,0.85); */
}

.newText {
    color: #4169e1;
    font-weight: 900;
}

.deliveryText {
    color: #32de84;
    font-weight: 500;
}

.storeContainer {
    width: 100%;  
     display: flex;   
     justify-content: space-around;
     flex-wrap: wrap;
     padding-top: 15px;
    padding-left: 200px;
    padding-right: 200px;
  
    list-style: none;

}
.eachStore {
     width: 30%; 
    padding-top: 15px;
    /* width: calc(100% / 3); */

}

.contentOfStore {
    width: 200px;
}

.storeTitle {
    padding-left:200px;
    font-weight:bold;
    font-size: 25px;
    padding-top: 25px;
    
    
}
.logoImages{
    display: flex;
    justify-content: center;
    margin-left: 25px;
    width:100px;
    height:100px;
    border-radius: 50%;
    outline: 0.1em solid #E1D9D1;
    
}
.sampleDataContainer {
    margin-right: 100px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    padding-left:200px;
    padding-right: 100px;
}

.textAlighnment {
    padding-top: 15px;
    padding-left: 45px;
    font-weight:bold;
    font-size: 20px;
}

.textAlighnments {
    padding-top: 15px;
    padding-left: 35px;
    font-weight:bold;
    font-size: 20px;
}
/* .parentcontainerrow {
    max-width:1080px;
    margin: auto;
    padding-left:25px;
    padding-right: 25px;
} */