

*{
    padding:0;
    margin:0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing:border-box;
}

.wrapper {
    width:100vw;
    height:100vh;
    background-color: gray;
    position: fixed;
    display: flex;
    justify-content: center ;
    align-items: center;
}
.modalForm {
    width:400px;
    min-height:80vh;
    background-color: white;
    border-radius: 20px;
    box-shadow: 5px;
    display: flex;
    align-items: center ;
    flex-direction: column;
}

.actionBtns {
    width:80%;
    background-color: royalblue;
    margin:2em;
    display: flex;
    justify-content: space-between;
}
.moveBtn {
    
}
