<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/mainPage.scss" type="text/scss">
    <title>LITE-CART Online Gorcery Store</title>
</head>
<body>
    <h1>Hello world Mohamed Hassan</h1>
    <div class="navbar">
        <div class ="logo">
                <img src="https://st.depositphotos.com/1351697/53294/v/600/depositphotos_532941124-stock-illustration-grocery-store-logo-design-template.jpg" width="175px" >
        </div>
        <nav>
            <ul>
                <li><a href="'">Home Page</a></li>
                <li><a href="'">Stores</a></li>
                <li><a href="'">Products</a></li>
                <li><a href="'">Products</a></li>
                <li><a href="'">Account</a></li>
                <li><a href="'">Contact</a></li>
            </ul>
        </nav>
    </div>
</body>
</html>